[Unit]
Description=FurScan Telegram Bot
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=/home/ubuntu/furscan/
ExecStart=/home/ubuntu/furscan/.venv/bin/python tgbot.py
Restart=on-failure
RestartSec=5
EnvironmentFile=/home/ubuntu/furscan/.env

[Install]
WantedBy=multi-user.target
